.banner-box{
    width: 100%;
    overflow: hidden;
    height: 3.5rem;
    position: relative;
    .list{
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--i) * 7.5rem);
        height: 3.5rem;
        overflow: hidden;
        transition: 1s;
        .img{
            width: 7.5rem;
            float: left;
        }
    }
    .no{
        width: 100%;
        position: absolute;
        left: 0;
        top: 2.8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        span{
            display: inline-block;
            width: .15rem;
            height: .15rem;
            border-radius: 50%;
            background: #ffffffa4;
            margin: .05rem;
            &.active{
                background: chocolate;
            }
        }
    }
}
.lattice-box{
    ul{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(130deg, #046738, #0dd477);
        flex-wrap: wrap;
        li{
            width: calc(7.5rem / 3);
            color: #fff;
            font-size: .24rem;
            text-align: center;
            padding: 1rem 0;
            position: relative;
            overflow: hidden;
            &:last-child{
                flex-grow: 1;
            }
            &::after{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transition: 1s;
            }
            &:active::after{
                background-image: radial-gradient(circle, rgba(7, 7, 7, .15) 40%, transparent 10%);
                background-repeat: no-repeat;
                background-position: 50%;
                transform: scale(10, 10);
            }
            @keyframes runanim {
                0%{
                    width: 0;
                    height: 0;
                }
                100%{
                    width: 100%;
                    height: 1rem;
                }
            }
        }
    }
}
.note-box{
    width: 100%;
    position: relative;
   .note{
        width: 6rem;
        padding: .1rem 0;
        position: absolute;
        left: calc((100% - 6rem) / 2);
        top: -.3rem;
        background: #fff;
        border-radius: .5rem;
        font-size: .3rem;
        font-weight: bold;
        text-align: center;
        color: #046738;
        z-index: 999;
        overflow: hidden;
        .content{
            width: 10rem;
            text-align: center;
            margin-left: -2rem;
            span{
                font-size: .31rem;
                color: chocolate;
                margin-left: 6rem;
                animation: runmargin .7s ease-in-out forwards;
            }
            @keyframes runmargin {
                0%{
                    margin-left: 6rem;
                }
                60%{
                    margin-left: 0;
                }
                70%{
                    margin-left: .5rem;
                }
                80%{
                    margin-left: 0;
                }
                95%{
                    margin-left: 1rem;
                }
                100%{
                    margin-left: 0;
                }
            }
        }
        
   }

}
.card-box{
    width: 100%;
    .info{
        padding: .15rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-image: linear-gradient(130deg,#046738,#0dd477);
        .icon{
            width: 1.2rem;
            height: 1.2rem;
            margin-right: .1rem;
            animation: runimg 5s linear infinite;
        }
        .user{
            h3{
                font-size: .3rem;
                color: khaki;
                font-weight: bold;
                margin-bottom: .1rem;
            }
            p{
                font-size: .24rem;
                color: rgb(213, 231, 169);
            }
        }
    }
    @keyframes runimg {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}